<footer id="footer">{{ text_footer }}<br />{{ text_version }}<br>
<center>
<a target="_blank" href="http://gccworld.info/doc/ottilie/index.html" class="btn btn-success" role="button">Create Free Support Ticket</a>
<a target="_blank" href="http://gccworld.info/doc/ottilie/index.html" class="btn btn-danger" role="button"><img src="../admin/view/image/small-thumb.png" style="height:40px"> DOWNLOAD THE LASTEST VERSION PATCH OF OTTILIE THEME</a>
</center>


</footer>

</div>

</body></html>
